button, select {
  font-size: 0.6em;
}

#newTodoContainer {
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 60%;
}

#importExportContainer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 10px;
}

#importExportContainer button {
  font-size: 1em;
}

#newTodoContainer .todo-item {
  width: 95%;
  border: 2px solid #ddeeff;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  color: #554433;
  margin-top: 5px;
  margin-bottom: 5px;
}

#newTodoContainer .todo-item .todo-text {
  width: 95%;
  font-size: 25px;
}

#newTodoContainer .todo-item .saveDeleteContainer button {
  font-size: 17px;
  margin: 15px auto;
}
/* the 'active' todos live here */

#todoList {
  width: 60%;
  min-height: 200px;
  border: 2px solid #aabbcc;
  border-radius: 5px;
  padding: 15px;
  background-color: #f0f0ff;
  margin: 0 auto;
}

@media all and (max-width: 800px) {
  #todoList {
    width: 90%;
  }
  #newTodoContainer {
    width: 90%;
  }
}

#todoList .todo-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;

  width: 95%;
  border: 2px solid #ddeeff;
  border-radius: 3px;
  padding: 5px;
  background-color: #ffffff;
  color: #554433;
  margin-top: 5px;
  margin-bottom: 5px;
}

.todo-text {
  width: 60%;
  font-size: 20px;
}

.todo-text.done {
  text-decoration: line-through;
}

.saveDeleteContainer {
  display: flex;
}

.saveDeleteContainer button {
  height: 100%;
}

/* the 'inactive' todos live here */

#todoListSomeday {
  margin: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@keyframes bgcolor {
    from {background-color: #ffccaa;}
    to {background-color: #fffffe;}
}

#todoListSomeday .todo-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  font-size: 15px;
  width: 200px;
  border: 1px solid #554433;
  border-radius: 2px;
  padding: 2px;
  background-color: #fffffe;
  margin: 2px;
  color: #998877;
  animation-name: bgcolor;
  animation-duration: 1s;
}

#todoListSomeday .todo-item .todo-text {
  width: 95%;
}

@media all and (max-width: 450px) {
  #todoListSomeday .todo-item {
    width: 90%;
  }
}

#todoListSomeday .todo-item .toggle-done {
  display: none;
}

#appInfoSpan {
  font-size: 10px;
  position: fixed;
  bottom: 10px;
  right: 20px;
}

#peerNum {
  font-size: 10px;
  position: fixed;
  bottom: 10px;
  left: 20px;
}

#importBtn {
  position: fixed;
  top: 15px;
  right: 60px;
  background-color: #88ff44;
  z-index: 99999;
}

#closeBtn {
  position: fixed;
  top: 15px;
  right: 15px;
  background-color: #ff8844;
  z-index: 99999;
}

.jsonTextArea {
  position: fixed;
  overflow: scroll;
  left: 5%;
  top: 5%;
  width: 90%;
  height: 90%;
  background-color: #ccaaff;
  color: #332211;
}

.hidden {
  display: none;
}